<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1012">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
        <link rel="stylesheet" href="css/style.min.css" media="all"/>
        <script src="js/01_jquery-2.0.3.min.js"></script>
        <script src="js/all.min.js"></script>
        <!--[if lte IE 8 ]><script type="text/javascript">window.location.href="ie8min/index.html";</script><![endif]-->
    </head>
    <body>
        <a class="bg_register" href="http://brandomatic.ru/account/register"></a>
        <div class="wrap">
            <header class="b-header">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <a href="/"><img src="images/content/logo.png" alt="Брендоматик"/></a>
                        </div>
                        <div class="span6 align-right">
                            <ul class="b-header__links align-right">
                                <li><a class="login" href="http://brandomatic.ru/account/register">Войти</a></li>
                                <li><a class="register" href="http://brandomatic.ru/account/login">Зарегистрироваться</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <section class="b-promo">
                <div class="container">
                    <h1 class="b-promo__title">Автоматическое брендирование сайтов вашей рекламой</h1>
                    <h2 class="b-promo__subtitle">Ведущая платформа для массовой закупки рекламы вашего бренда в фоне сайтов</h2>
                    <button class="b-promo__test js-reclametest" data-otext="Я понял, верните все как было">Что такое брендирование сайта?</button>
                    <div class="row">
                        <div class="span6">
                            <div class="b-fitem icon3">
                                <h3 class="b-fitem__title">Автоматический выкуп</h3>
                                <p>Вам не нужно договариваться с сотнями вебмастеров и удовлетворять их, порой, чрезмерные требования - все уже готово и согласовано.</p>
                            </div>
                            <div class="b-fitem icon4">
                                <h3 class="b-fitem__title">Оплата за показы</h3>
                                <p>Простая и понятная система оценки стоимости, облегчает медиапланирование и упрощает взаиморасчеты.</p>
                            </div>
                            <div class="b-fitem icon5">
                                <h3 class="b-fitem__title">Защита от накруток</h3>
                                <p>Благодаря мощной системе анализа трафика и отзывчивым менеджерам, ваш бюджет надежно защищен. </p>
                            </div>
                            <div class="b-promo__reg">
                                <a class="b-promo__regbtn" href="http://brandomatic.ru/account/register">Зарегистрироваться</a>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="b-promo__image">
                                <img src="images/content/monitor.png" alt="Example"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="b-line b-howworks">
                <div class="container">
                    <h2 class="b-line__title">Как это работает?</h2>
                    <div class="row">
                        <div class="span4">
                            <div class="b-howworks__item">
                                <div class="b-howworks__icon icon6"></div>
                                <p class="b-howworks__text">Создаете рекламную кампанию и загружаете фоны</p>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-howworks__item">
                                <div class="b-howworks__icon icon7"></div>
                                <p class="b-howworks__text">Выбираете желаемую тематику и подходящие площадки</p>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-howworks__item">
                                <div class="b-howworks__icon icon8"></div>
                                <p class="b-howworks__text">Наблюдаете за ростом узнаваемости вашего бренда</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="b-line b-features">
                <div class="container">
                    <h2 class="b-line__title">Что мы можем вам дать</h2>
                    <div class="row">
                        <div class="span4">
                            <div class="b-features__item">
                                <div class="b-features__icon icon10"></div>
                                <h3 class="b-features__title">Запоминаемость</h3>
                                <p>Брендирование сайта - это надежнейший способ установить в головах аудитории нужные вам нейронные связи.</p>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-features__item">
                                <div class="b-features__icon icon11"></div>
                                <h3 class="b-features__title">Живая аудитория</h3>
                                <p>Каждый просмотр вашего бренда - это живой человек. Мы беспощадно фильтруем ботов и накрутчиков.</p>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-features__item">
                                <div class="b-features__icon icon12"></div>
                                <h3 class="b-features__title">Подробная статистика</h3>
                                <p>У нас есть ответ на каждый потраченный рубль вашего бюджета.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div class="b-features__item">
                                <div class="b-features__icon icon13"></div>
                                <h3 class="b-features__title">Отзывчивая поддержка</h3>
                                <p>Мы любим помогать людям по любым вопросам и проблемам.</p>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-features__item">
                                <div class="b-features__icon icon9"></div>
                                <h3 class="b-features__title">Технологичность</h3>
                                <p>Все, что вам нужно сделать - это загрузить ваши материалы. Обо все остальном мы позаботимся.</p>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="b-features__item">
                                <div class="b-features__icon icon14"></div>
                                <h3 class="b-features__title">Бесперебойность</h3>
                                <p>Никто не идеален, но мы уверенно приближаемся к этому благодаря мастерству наших разработчиков.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="b-line b-line_color_red">
                <div class="container">
                    <h2 class="b-line__title">Эти компании могут<br />подтвердить нашу эффективность</h2>
                    <div class="b-clients">
                        <a class="b-clients__item" href="#" target="_blank"><img class="b-client__img" src="images/content/postio.png" alt="Postio"/></a>
                        <a class="b-clients__item" href="#" target="_blank"><img class="b-client__img" src="images/content/sns.png" alt="sns"/></a>
                        <a class="b-clients__item" href="#" target="_blank"><img class="b-client__img" src="images/content/rhinodesign.png" alt="Rhino design"/></a>
                    </div>
                </div>
            </section>

            <div class="b-line b-line_color_gray b-line_form">
                <div class="container">
                    <form class="b-form" action="/">
                        <div class="row">
                            <div class="span10 offset1">
                                <div class="row">
                                    <div class="span4">
                                        <input class="b-form__text" type="email" placeholder="Email"/>
                                    </div>
                                    <div class="span4">
                                        <input class="b-form__text" type="password" placeholder="Пароль"/>
                                    </div>
                                    <div class="span4">
                                        <button type="submit" class="b-form__submit">Попробовать Брендоматик</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="b-line b-social align-right">
                <div class="container">
                    <a class="b-social__item icon15" href="#" target="_blank">Facebook</a>
                    <a class="b-social__item icon16" href="#" target="_blank">Вконтакте</a>
                    <a class="b-social__item icon17" href="#" target="_blank">Youtube</a>
                    <a class="b-social__item icon18" href="#" target="_blank">Twitter</a>
                </div>
            </div>

            <footer class="b-footer">
                <div class="container">
                    <div class="row">
                        <div class="span3">
                            <ul class="b-footer__menu">
                                <li><a href="#">Правила</a></li>
                                <li><a href="#">Центр помощи</a></li>
                                <li><a href="#">Пользовательское соглашение</a></li>
                            </ul>
                        </div>
                        <div class="span3">
                            <ul class="b-footer__menu">
                                <li><a href="#">Разработчикам</a></li>
                                <li><a href="#">Рекламодателям</a></li>
                                <li><a href="#">Работа в команде</a></li>
                            </ul>
                        </div>
                        <div class="span3">
                            <ul class="b-footer__menu">
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">Контактная информация</a></li>
                            </ul>
                        </div>
                        <div class="span3">
                            <div class="b-footer__created">
                                Создано с любовью<br />в <a href="http://mymediapro.ru" target="_blank">MyMediaPro</a>
                            </div>
                            <div class="b-footer__email"><a href="mailto:hello@brandomatic.ru">hello@brandomatic.ru</a></div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>