.b-promo{
    background: url(../images/promo-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: em(45) 0 em(27);
    margin-bottom: em(43);
    &__title{
        $font-size: 41;
        font-size: em($font-size);
        font-weight: 700;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.15;
        padding-bottom: em(15, $font-size);
    }
    &__subtitle{
        color: #FFDCE6;
        $font-size: 19;
        font-size: em($font-size);
        text-align: center;
        padding-bottom: em(25, $font-size);
    }
    &__test{
        $font-size: 18;
        font-size: em($font-size);
        font-weight: 700;
        color: #fff;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        padding: em(7, $font-size) em(40, $font-size);
        line-height: 1.5;
        border: 0;
        background:#000;
        margin-bottom: em(28);
    }
    &__image{
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 72%;
        img{
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    &__reg{
        padding-left: em(82);
    }
    &__regbtn{
        $font-size: 20;
        font-size: em($font-size);
        display: inline-block;
        text-align: center;
        background: url(../images/b64/submit_bg.png) no-repeat center top darken(#65BA00, 5);
        background-size: 100% auto;
        border-radius: 3px;
        box-sizing: border-box;
        border: 0;
        color: #fff;
        cursor: pointer;
        line-height: em(45, $font-size);
        transition: background-color .3s;
        padding: 0 em(20, $font-size);
        text-decoration: none;
        &:hover{
            background-color: darken(#65BA00, 10);
        }
    }
}